

.title{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: baseline;
    gap: 30px;
}

/* Boutons modifés */
.button-modal a{
    display: flex;
    flex-direction: row;
    gap: 10px;
    text-decoration: none;
    color: black;
}

.button-modal a:hover{
    color: #b1663c;
}

/* CSS de la modale ouverte */
.modal {
    position: fixed;
    display: flex;
    align-items: center;
    justify-content: center;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.3);
    animation: fadeIn .3s both;
}

.modal-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: clamp(400px, 60%, 630px);
    height: 730px;
    border-radius: 10px;
    background-color: #fff;
    gap: 23px;
}

#titlemodal {
    font-family: 'Work Sans';
    font-size: 26px;
    font-weight: 400;
}

.modal-wrapper .new-picture {
    color: #fff;
	background-color: #1D6154;
	font-family: 'Syne';
	font-size: 14px;
	font-weight: 700;
	border-radius: 60px;
	padding: 9px 50px;
    border: none;
}
.modal-wrapper p {
    font-family: 'Syne';
    font-size: 14px;
    color: #D65353;
}

@keyframes fadeIn {
    from {opacity: 0;}
    to {opacity: 1;}
}